        
        <!-- scripts -->
        <%- JQUERY %>               <!-- Jquery -->
        <%- JQUERY_MODERNIZER %>    <!-- Jquery modernizer -->
        <% BOOTSTRAP_JS %>          <!-- Bootstrap Js -->
        <script src="/javascripts/main.js">
        </script>                   <!-- Custom Js -->
    </body>
</html>