<!-- ================================================================== -->
                    <!-- LANDING TEMPLATE -->
<!-- ================================================================== -->
<!-- including header -->
<% include ./partials/header %>

<!-- main page contents -->
<!-- my landing css -->
<link rel="stylesheet" href="./stylesheets/landing.css" />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content">
                <h1>YelpCamp</h1>
                <h3>Start planning your next trip today</h3><hr />
                <a class=" btn btn-lg btn-light" href="/campgrounds"><i class="fa fa-tree"></i> Get Started!</a>
            </div>
        </div>
    </div>
</div>

<!-- my background changing js -->
<script src="./javascripts/background.js"></script>
<!-- including footer -->
<% include ./partials/footer %>