html, body {
    height: 100%;
    width: 100%;
}
nav.navbar.navbar-light {
    height: 6%;
}
.jumbotron h1 {
    font-size: 63px;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.auth {
    height: 85%;
    padding: 10% 0;
}
#form-head {
    margin-bottom: 1%;
}
.campground {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.half {
    width: 25rem;
    margin: auto;
}
.comment {
    padding: 5px 0;
}